// {{.DoNotEditHeader}}

package adventure

const (
    SILENT = -1 /* no sound */
)

/* Symbols for cond bits */
const (

)

const (
    NLOCATIONS = {{.NLocations}}
    NOBJECTS   = {{.NObjects}}
    NHINTS     = {{.NHints}}
)

// dungeon.c: 52
type descriptions_t struct {
    small string
    big string
}

// dungeon.c: 57
type location_t struct {
    description descriptions_t
    sound int
    loud bool
}


// enum locations_refs
const ({{range .LocationsRefs}}
    {{.Enum}}{{if eq .Seq 0}} loc_t = iota{{end -}}
{{end}}
)